small {
	font-size: 10px;
}

.page {
	font-family: Helvetica;
	font-size: 20px;
}

.chart-container {
	width: 100%;
	overflow: auto;
	margin-bottom: 50px;
}

#chart{
	margin-left: auto;
	margin-right: auto;                                                        
}

#custom-input {
	margin-top: 30px;
	margin-bottom: 20px;
}


#fromDate, #toDate {
	padding-right: 20px;
	padding-bottom: 10px;
}

#number-field {
	font-size: 20px;
}

#number-description {
	padding-right: 10px;
	padding-bottom: 10px;
}

.select-container, .param-container {
	font-size: 21px;
	font-family: Helvetica;
	overflow: auto;
}

.select-container {
	max-height: 300px;
}

.param-container {
	max-height: 800px;
}

.param-buttons, .param-search {
	display: inline;
}

.select-description {
	margin-bottom: 10px;
	cursor: pointer;
}

.select-title {
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: bold;
}

.param-dec {
	font-size: 25px;
	margin-bottom: 10px;
}

.fa-check-circle {
	color: #009933;
}

.fa-exclamation-triangle {
	color: #FF9900;
}

.fa-eye-slash, .fa-eye {
	font-size: 30px;
	color: #336699;
	cursor: pointer;
}



@media (max-width: 480px) {

	.select-title {
		font-size: 20px;
	}

	.param-buttons, .param-search {
		display: block;
		margin-top: 10px;
	}

	.param-container {
		max-height: 300px;
	}

	.select-container {
		max-height: 200px;
	}
}